html, form {
    height: 100%;
}


.footer {
    // margin-top: 100px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: $info;
    grid-row-start: 2;
    grid-row-end: 3;
}







