// imports
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

$primary: #375abb;
$secondary: #fb8f8a;
$info: #1b1f3b;
$success: #4CD964;
$accent: #FFF6BB;
$title: #3B9ED5;
$title-accent: #3e3e3e;
$loved: #F32D56;

$font-family-base: 'Noto Sans', sans-serif;
$font-family-title: 'Oswald', sans-serif;
$font-family-detail: 'Helvetica Neue', sans-serif;


$error: #ef5777;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;


$padding: 15px;
$borders: 15px;
$radius: 4px;
$margin: 12px;

$desktop: 840px;

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content;
    }
}


// resets
body {
	margin: 0;
	color: $dark;
	background: $light;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: Helvetica;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}


// globals
section {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width: 742px) {
		display: block;
	}
}


[v-cloak] {display: none}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($dark, 0.4);
	z-index: 9999;

	p {
		background: $white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
        padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;
	p {
		color: $error;
		margin: 0;
	}
}

.p-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $accent;
	z-index: 999;

	.p-container {
		position: fixed;
		max-width: 600px;
		top: 2vh;
		bottom: 2vh;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 2rem;
		border-radius: 3px;
		background: $white;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
		overflow: auto;

		.close {
			position: absolute;
			top: 5px;
			right: 10px;
			padding: 5px;
		}

		.post {
			border: 0;
			border-bottom: 1px solid #e6ecf0;

			&:hover {
				background: $white;
			}
		}
	}
}