.form-container {
    padding-top: 30px;
    @include desktop {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "search primary";
    }

    section#search {
        background: #fff;
        padding: 20px;
        margin: auto 2em;
        // border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
        width: 80%;
        
        @include desktop { 
            grid-area: "search";
            height: fit-content;
            align-self: center;
            margin: 1em;
        }

    }

    section#primary {
        color: $info;
        padding: $padding;
        text-align: center;

        @include desktop {
            grid-area: "primary";
            text-align: left;
            margin: 0 0 0 4em;
        }

        h1 {
            font-size: 3em;
            margin-top: 10px;
            text-transform: uppercase;

            @include desktop {
                width: 30%;
                font-size: 4em;
                line-height: .9em;
            }  
        }
        p {
            font-size: 1.4em;
        }

        a {
            color: $primary;
            border-radius: $borders;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $accent;
            display: block;
            margin: 25px auto 0 auto;
            padding: $padding;
            z-index: 0;

            @include desktop {
                display: inline-block;
                padding: $padding $padding * 4;
            }
        }
    }
}